html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

/*ol, ul {
 list-style: none;
}*/

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}


body {
	background-color: #153F65;
}

#menu {
	padding: 15px 20px 20px 20px;
	margin-left: 1%
}

#menu li {
	display:inline;
}

#menu a {
	text-decoration: none;
	width:60px;
	color: #5EA3D9;
}

#content {
	width: 80%;
	height: auto;
	position: relative;
	margin: 0px auto;
	margin-top: 1%;
	font-family: 'Georgia';
	font-size: 150%;
}

.subject {
	padding: 2%;
}

.subject label {
	color: #FFFFFF;
	padding: 1%;
}

.subject  input {
	height: 30px;
	width: 200px;
}

.description {
	padding: 2%;
}

.description label {
	color: #FFFFFF;
	padding: 1%;
}

.description  input {
	height: 30px;
	width: 500px;
}

.addMessage {
	padding:  3%;
}

.addMessage input {
	background: none;
	border: 1px solid;
	color: #FFFFFF;
	font-size: 95%;
	padding: 1%;
}
