/**
    * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
    * Richard Clark (http://richclarkdesign.com)
    * http://cssreset.com
    */
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    body {
    line-height:1;
    }
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
    display:block;
    }
    nav ul {
    list-style:none;
    }
    blockquote, q {
    quotes:none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content:'';
    content:none;
    }
    a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    /* change colours to suit your needs */
    ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
    }
    /* change colours to suit your needs */
    mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
    }
    del {
    text-decoration: line-through;
    }
    abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    /* change border colour to suit your needs */
    hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    }
    input, select {
    vertical-align:middle;
    }



@font-face { font-family: ComicSans; src: url('../public/font/ComicSans.ttf');}
@font-face { font-family: GeorgiaFont; src: url('../public/font/Georgia.ttf');}

body {
	background-color:rgb(21,63,101);
}
.contentTask {
   margin-top:0%;
   margin-bottom:5%;
   width :80%;
}
#projectTask p {
    width: auto;
    font-family:Georgia;
    font-size:20px;
    margin-top: 50px;
    margin-left: 150px;
    color: #FFFFFF;
    vertical-align: middle;
    width: 30%;
    text-align: center;
}

li {
    position:relative;
    z-index:1;
    overflow:hidden;
    list-style:none;
    padding:0;
    margin:0 0 0.25em;

}

li a:link, 
li a:visited {
    display:block;
    border:0;
    padding-left:28px;
    color:#70bcf6;
}

li a:hover, 
li a:focus, 
li a:active {
    color:#730800;
    background:transparent;
}

li:before, 
li:after,
li a:before, 
li a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
}

li a:before, 
li a:after {
    margin:-8px 0 0;
    background:#70bcf6;
}

li a:hover:before, 
li a:focus:before, 
li a:active:before {
    background:#730800;
}

/* TRASH
------------------------------------------------------------------------------------------------------------------------------- */

.trash:after {
    left:6px;
    width:1px;
    height:7px;
    border-right:3px double #70bcf6;
    border-left:1px solid #70bcf6;
    margin-top:-2px;
}

.trash a:before {
    left:2px;
    width:9px;
    height:11px;
    margin-top:-6px;
    border:2px solid #70bcf6;
    background:transparent;
}

.trash a:after {
    left:5px;
    width:3px;
    height:2px;
    margin-top:-9px;
    border:2px solid #70bcf6;
    border-bottom:0;
    background:transparent;
    /* css3 */
    -webkit-border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    -moz-border-radius:2px 2px 0 0;
    border-radius:2px 2px 0 0;
}

.trash:hover:after,
.trash a:hover:before, 
.trash a:focus:before, 
.trash a:active:before,
.trash a:hover:after, 
.trash a:focus:after, 
.trash a:active:after {
    border-color:#730800;
    background:transparent;
}
.trash {
    font-size: 20px;
    float: right;
    position: relative;
    margin-top: 5%;
    margin-right: 8%;
}

p.taskp {
    border-style: none;
    border-width:1px;
/*    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;*/
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 50%;

}


.tg  {  
    border-collapse:separate;
    margin-left: 5%;
    margin-top: 5%;
    border-spacing: 30px ;
   

}
.tg td{
    font-family:Georgia;
    font-size:20px;
    padding:15px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    color: #FFFFFF;
    text-align: left;
    border-spacing: 20px;
    word-wrap:break-word;

}

.tg th {
    font-family:Comic;
    font-size:30px;
    font-weight:normal;
    padding:5px 5px;
    border-style:none;
    overflow:hidden;
    word-break:normal;
    color: #DBD6D6;
    text-align: left;
    width: 40%;

    }

.tg .tg-ls8f{font-family:Georgia, serif !important;}

#Label1 {
    margin-left: 10%;
    margin-right: 10%;
}

#editorBtn {
    float: right;
}


.middle
{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 140px;
  margin: -70px 0 0;
}

div[contenteditable]
{
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  min-width: 75px;
  overflow: hidden;
  line-height: 18px;
  vertical-align: middle;
  text-align: left;
  color: #FFFFFF;
  /*background: #FFF;*/
 /* border: 1px solid #CCC;*/
  /*border-radius: 3px;*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  transition: all .5s;
}

div[contenteditable]:focus
{
  outline: none;
  border-color: #DDAB7F;
  padding-right: 60px;
  min-width: 250px;
}

div[contenteditable]:focus:before
{
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  vertical-align: middle;
  padding: 0 7px;
  margin: -11px 0 0;
 /* background: #CCC;*/
  color: #FFF;
 /* border-radius: 3px;*/
}

div[contenteditable][placeholder]:empty:after { content: attr(placeholder) }