@font-face { font-family: ComicSans; src: url('../public/font/ComicSans.ttf');}
@font-face { font-family: GeorgiaFont; src: url('../public/font/Georgia.ttf');}

body 
{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color:#153f65;
}

#loginForm
{
	background-color: #072242;
	width: 440px;
	height: 303px;
	margin-top: 100px;
	margin-right: auto;
	margin-left:auto;
}

#logoContent
{
	height: auto;
	margin: 0px;
	width: 100%;

}
#logoContent img
{
	margin-top: 8px;
	margin-left: 8px;
	float: left;
}
#logoContent p
{
	width: auto;
	font-family:ComicSans;
	font-size:30px;
	margin-left: 28px;
	display: inline-block;
	color: #70bcf6;
	vertical-align: middle;
}

#loginForm form
{
	margin-top: 10px;
	position: relative;
}
.formContent
{	
	margin-left: 16%;
	width: auto;
	display: inline-block;
}

.formContent img
{
	width: auto;
	height: auto;
}

.formContent input
{
	background-color: #153f65;
	color: #70bcf6;
	width: auto;
	height: auto;
	margin-left: 10px;
	font-family:ComicSans;
	font-size: 20px;
	border-color: transparent;
}

.loginSubmit
{
	outline: none;
	clear: both;
	float: right;
	margin-top: 24px;
}
.loginSubmit input
{
	font-family: GeorgiaFont;
	font-size: 40px;
	background: transparent;
	color: #70bcf6;
	border-color: transparent;
	margin-left: 10px;
}
.loginSubmit img
{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

#loginText
{
	font-family:ComicSans;
	font-size:36px;
	vertical-align: middle; 
	text-align: center;
	line-height: 96px;
	color: #70bcf6;
	height: 96px;
}
#loginField
{
	width: auto;
	height: auto;
	display: inline-block;
}
.textField
{
	background-color: #153f65;
	color: #70bcf6;
	width: 50%;
	height: auto;
	margin-left: auto;
	font-family:ComicSans;
	font-size: 20px;
	margin-bottom: 20px;
	border-color: transparent;
}

#loginContent
{
	float:right;
	margin-right: 10px;
	height: auto;
	width: auto;
}

.loginSubmit input:focus
{
	outline: none;
}
