html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face { font-family: ComicSans; src: url('../public/font/ComicSans.ttf');}
@font-face { font-family: GeorgiaFont; src: url('../public/font/Georgia.ttf');}

body 
{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color:#153f65;
}

#loginForm
{
	background-color: #072242;
	width: 440px;
	height: 303px;
	border-radius: 1em;
	margin-top: 100px;
	margin-right: auto;
	margin-left:auto;
}

#logoContent
{
	height: auto;
	margin: 0px;
	width: 100%;

}
#logoContent img
{
	margin-top: 8px;
	margin-left: 8px;
	float: left;
}
#logoContent p
{
	width: auto;
	font-family:ComicSans;
	font-size:30px;
	margin-top: 15px;
	margin-left: 28px;
	display: inline-block;
	color: #70bcf6;
	vertical-align: middle;
}

#loginForm form
{
	margin-top: 10px;
	position: relative;
}
.formContent
{	
	margin-left: 16%;
	width: auto;
	display: inline-block;
}

.formContent img
{
	width: auto;
	height: auto;

}

.formContent input
{
	background-color: #153f65;
	color: #70bcf6;
	width: 250px;
	height: 35px;
	margin-left: 10px;
	font-family:ComicSans;
	font-size: 20px;
	border-color: transparent;
	
}

.loginSubmit
{
	outline: none;
	clear: both;
	float: right;
	margin-top: 24px;
}
.loginSubmit input
{
	font-family: GeorgiaFont;
	font-size: 40px;
	background: transparent;
	color: #70bcf6;
	border-color: transparent;
	margin-left: 10px;
}
.loginSubmit img
{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

#loginText
{
	font-family:ComicSans;
	font-size:36px;
	vertical-align: middle; 
	text-align: center;
	line-height: 96px;
	color: #70bcf6;
	height: 96px;
}
#loginField
{
	width: auto;
	height: auto;
	display: inline-block;
}
.textField
{
	background-color: #153f65;
	color: #70bcf6;
	width: 50%;
	height: auto;
	margin-left: auto;
	font-family:ComicSans;
	font-size: 20px;
	margin-bottom: 20px;
	border-color: transparent;
}

#loginContent
{
	float:right;
	margin-right: 10px;
	height: auto;
	width: auto;
}

.loginSubmit input:focus
{
	outline: none;
}
#username {
  border-radius: 0.5em;
}
#password {
  border-radius: 0.5em;
}
input[type=Submit] {
  padding: 0 35px;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  color: #9EA1C0;
  text-shadow: 0 1px #072242;
  background: #123E5F;
  border: 1px ;
  border-radius: 30px;
  outline: 0;
  margin-right: 15px;
  
}
input[type=Submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}