@font-face { font-family: ComicSans; src: url('../public/font/ComicSans.ttf');}
@font-face { font-family: GeorgiaFont; src: url('../public/font/Georgia.ttf');}

body 
{
	height: 100%;
	position:relative;
	margin: 0;
	padding: 0;
	background-color:#153f65;
}

#topMenu
{
	height: 142px;
	width: auto; 
	display: block;
	background-color: #04203a;
}

#topMenu img
{
	vertical-align: middle; 
	margin-top:11px;
	margin-left:11px;
	float:left;
}

#topMenu p
{
	font-size: 42px;
	font-family: ComicSans;
	color: #70bcf6;
	float: left;
	height: auto;
	margin-left: 30px;	
}

#userContent
{
	height: 142px;
	width: auto;
	float: right;
}

#userContent p
{
	font-size: 40px;
	font-family: GeorgiaFont;
	color: white;	
	position: relative;
	width: auto;	
}

#userContent span
{
	font-size: 40px;
	font-family: GeorgiaFont;
	color: #70bcf6;	
	position: relative;
	width: auto;	
}

#barMenu
{
	width: 100%;
	height: auto;
	background-color: #04203a;
	margin-top: 2px;
	height: 50px;
}
#barMenu ul
{
	margin: 0px;
	width: auto;
	height: auto;
}

#barMenu ul li
{
	height: 100%;
	margin-left: 4px;
	float: left;
	list-style-type: none;
	padding-left: 10px;
	margin-top: 0px;
	width: auto;
	border-right: 1px solid #70bbf5;
}

#barMenu ul li p
{
	font-family: GeorgiaFont;
	font-size: 24px;
	color: #70bcf6;
	margin: 0px;
	width: auto;
	float: left;
	padding-top: 10px;
}
#barMenu ul li img
{
	padding-top: 7px;
	margin-left: 10px;
	float: right;
	margin-right: 10px;
}

#barMenu ul li span p
{
	font-family: GeorgiaFont;
	font-size: 24px;
	color: white;
	margin: 0px;
	width: auto;
	float: left;
	padding-top: 10px;
}

#content
{
	width: 80%;
	height: auto;
	position: relative;
	margin: 0px auto;
	margin-top: 10px;
}

#newProject
{
	width: 100%;
	height: auto;
}

.newProjectContent
{
	width: 100%;
	height: auto;
}

.newProjectContent p
{
	padding-top: 20px;
	font-family: GeorgiaFont;
	font-size: 30px;
	color: #6ab3eb;
	margin: 0px;
	width: auto;	
}

.tableContent
{
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.topTable
{
	width: 100%;
	height: auto;
	border-bottom: 1px solid white;
}
.topTable p
{
	font-family: GeorgiaFont;
	font-size: 24px;
	color: white;	
	display: inline-block;
	width: auto;
}

.tableContent
{
	width: 100%;
	height: auto;
}

.tableContent table
{
	line-height: 50px;
	width: 100%;
	height: auto;
}
.tableContent table tr td
{
	color: white;
	text-align: left;	
	font-size: 24px;
}
.myTh1
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	width: 10%;
	color: white;
}
.myTh2
{	
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	color: white;
	width: 40%;
}
.myTh3
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	color: white;
	width: 30%;
}
.myTh4
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	color: white;
	width: 20%;
}