html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

/*ol, ul {
 list-style: none;
}*/

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}


body {
	background-color: #153F65;
}

#content {
	width: 80%;
	height: auto;
	position: relative;
	margin: 0px auto;
	margin-top: 10px;
}

div {
	font-family: 'Georgia';
	font-size: 25px;
}

#menu {
	padding: 15px 20px 30px 20px;
	margin-left: 23px;
}

 a:link{
  color : #5EA3D90
}

#menu li {
	display:inline;
	border-right: 1px solid #5EA3D9;
	padding-right: 7px;
}

#menu a {
	text-decoration: none;
	width:60px;
	color: #5EA3D9;
}

a: hover {
  	text-decoration: none;
  	cursor: pointer;
}

#profile {
	display: inline;
	margin: 10%;
	padding-top: 5%;
}

.myProfile {
	color: #FFFFFF;
	padding: 1%;
}

#save {
	/*background: #153F65;*/
	/*color: #FFFFFF;*/
	font-size: 100%;
	margin-left: 1%;
	margin-top: 2%;
	font-family: Georgia; 
	/*border: none;*/
}

#profile input {

	/*width: 250px;
	height: 30px;*/
}

input .job {
	width: 50px;
}

.tableContent
{
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.topTable
{
	width: 100%;
	height: auto;
	border-bottom: 1px solid white;
	display: inline-block;
}
.topTable p
{
	font-family: GeorgiaFont;
	font-size: 24px;
	color: white;	
	display: inline-block;
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

.tableContent
{
	width: 100%;
	height: auto;
}

.tableContent table
{
	line-height: 50px;
	width: 100%;
	height: auto;
}

.tableContent table tr td
{
	color: white;
	text-align: left;	
	font-size: 24px;
}

.myTh1
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	width: 10%;
	color: white;
}

.myTh2
{	
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	color: white;
	width: 40%;
}

.myTh3
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	color: white;
	width: 30%;
}

.myTh4
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	font-family: GeorgiaFont;
	color: white;
	width: 20%;
}

.delete  {
	color: #F14040;
	background: none;
	border: none;
	font-size: 95%;
}

.edit {
	text-decoration: none;
	color: #179A32;
	background: none;
	border: none;
	font-size: 95%;
}

#name {
	margin-left: 135px;
	width: 180px;
}

#username {
	margin-left: 85px;
	width: 180px;
}

#dataNasterii {
	margin-left: 50px;
	width: 180px;
}

#job {
	margin-right: 150px;
}

#newPassword {
	margin-left: 37px;
	width: 180px;
}

#currentPassword {
	margin-left: 3px;
	width: 180px;
}